/* .btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:linear-gradient(90deg, #eed152, #e73c3c, #23a6d5, #23d5ab) ;;
    color:black;
    box-shadow: inset 1px 1px 1px white;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:linear-gradient(20deg, #eed152, #e73c3c, #23a6d5, #23d5ab) ;;
    color: black;
} */


.btn {
    font-size: 1.7rem;
    padding:.9rem 4.5rem;
    padding-right: 2px;
    margin-top: 1rem;
    display: inline-block;
    width: 12em;
    height: 5rem;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
     position: absolute;
    top: -2px;
    left:-2px; 
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn:active {
    color: #000
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.btn2 {
    font-size: 1.7rem;
    padding:.9rem 4.5rem;
    /* padding-right: 2px; */
    margin-top: 1rem;
    display: inline-block;
    width: 20em;
    height: 5rem;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn2:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
     position: absolute;
    top: -2px;
    left:-2px; 
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn2:active {
    color: #000
}

.btn2:active:after {
    background: transparent;
}

.btn2:hover:before {
    opacity: 1;
}

.btn2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



.btn-nav{
    font-size: 10px;
    padding:1rem;
    padding-right: 22px;
    padding-left: 22px;
    margin-top: 1rem;
    /* display: inline-block; */
    width: 20rem;
    height: 20rem;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 7px;
}

.btn-nav:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
     position: absolute;
    top: -2px;
    left:-2px; 
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn-nav:active {
    color: #000
}

.btn-nav:active:after {
    background: transparent;
}

.btn-nav:hover:before {
    opacity: 1;
}

.btn-nav:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}